@model IEnumerable<MvcDockerComics.Models.Comic>

@{
    ViewData["Title"] = "Index";
}

<h1>Comics DOCKERS</h1>

<p>
    <a asp-action="Create" asp-controller="Comics">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdComic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagen)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdComic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                <img src="@item.Imagen"
                    style="width: 150px; height: 180px"/>
            </td>
            <td>
                <a asp-controller="Comics"
                    asp-action="Details"
                    asp-route-id="@item.IdComic"
                    class="btn-primary btn-outline-info">
                    Details  
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
